#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_eisu {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LANG2>;
        };

        combo_kana {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp LANG1>;
        };

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };

        layer4 {
            bindings = <&lt 4 SPACE>;
            key-positions = <5 6>;
        };

        del {
            bindings = <&kp DEL>;
            key-positions = <9 8>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W     &kp E     &kp R        &kp T      &kp Y     &kp U        &kp I      &kp O      &kp P
&kp A      &kp S     &kp D     &kp F        &kp G      &kp H     &kp J        &kp K      &kp L      &kp SEMI
&kp Z      &kp X     &kp C     &kp V        &kp B      &kp N     &kp M        &kp COMMA  &kp DOT    &kp SLASH
&kp LSHFT  &kp LALT  &kp LCMD  &lt 2 SPACE  &kp LCTRL  &kp BSPC  &lt 1 ENTER  &kp RSHFT  &kp RSHFT  &mt LALT SLASH
            >;
        };

        layer1 {
            label = "NUMBER";
            bindings = <
&kp MINUS  &kp N7  &kp N8        &kp N9        &kp CARET   &kp LPAR  &kp RPAR         &kp EXCL      &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES
&kp PLUS   &kp N4  &kp N5        &kp N6        &kp SLASH   &kp LBKT  &kp RBKT         &kp QUESTION  &kp SEMI          &kp COLON
&kp ASTRK  &kp N1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD  &kp LBRC  &kp RIGHT_BRACE  &kp SLASH     &kp BACKSLASH     &kp UNDERSCORE
&kp EQUAL  &kp N0  &kp ENTER     &kp LSHFT     &trans      &trans    &trans           &trans        &kp PERCENT       &kp AT_SIGN
            >;
        };

        layer2 {
            bindings = <
&kp F1   &kp F2   &kp F3  &kp F4  &kp F5   &none          &mkp MB1  &kp UP    &mkp MB2   &mkp MB3
&kp F6   &kp F7   &kp F8  &kp F9  &kp F10  &kp PAGE_UP    &kp LEFT  &kp DOWN  &kp RIGHT  &kp HOME
&kp F11  &kp F12  &trans  &trans  &none    &kp PAGE_DOWN  &trans    &trans    &trans     &kp END
&trans   &trans   &trans  &trans  &trans   &trans         &trans    &trans    &trans     &trans
            >;

            label = "function & mouth";
        };

        layer3 {
            label = "MOUSE";
            bindings = <
&trans     &trans  &trans    &trans          &trans  &trans     &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans     &trans  &trans    &trans          &trans  &trans     &trans    &trans    &trans    &trans
&trans     &trans  &trans    &trans          &trans  &trans     &trans    &trans    &trans    &trans
&kp LSHFT  &trans  &kp LCMD  &lt 2 LEFT_ALT  &to 0   &kp RCTRL  &trans    &trans    &to 0     &kp RALT
            >;
        };

        layer4 {
            label = "bluetooth";
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp F1   &kp F2   &kp F3  &kp F4  &kp F5
&trans        &trans        &trans        &trans        &bt BT_CLR      &kp F6   &kp F7   &kp F8  &kp F9  &kp F10
&trans        &trans        &trans        &trans        &bt BT_CLR_ALL  &kp F11  &kp F12  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans          &kp DEL  &trans   &trans  &trans  &trans
            >;
        };
    };
};
